@charset "Shift_JIS";

dl {
	margin:  0 0 0 0;
	padding: 0 0 0 0;
/*
	margin-bottom: -1em;
	padding-bottom: -2em;
	border: thin solid #F00;
*/
}

dt {
	border: none;
	width:  2em;
	margin:  0 0 0 0;
	padding: 0 0 0 0;
/*
	border: thin solid #0F0;
*/
	position: relative;
	top: 0.6em;
}

dd {
	position: relative;
	top: -0.7em;
/*
	border: thin solid #00F;
*/
	margin:  0 0 0 2em;
	padding: 0 0 0 0;
}
